<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yr 9 STEAM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="main-header">
        <h1>Welcome to my web</h1>
        <nav>
            <ul>
                <li><a href="stillDeveloping.html">Orgami</a></li>
                <li><a href="stillDeveloping.html"></a>Micro:bits</a></li>
                <li><a href="stillDeveloping.html">Assesment</a></li>
                <li><a href="stillDeveloping.html">Technical Drawing</a></li>
                <li><a href="stillDeveloping.html">Project</a></li>
                <li><a href="stillDeveloping.html">Reference</a></li>
            </ul>
        </nav>
    </header>
    <header class="main-info">
        <h2>Here is some stuff abt me and this websiteS</h2>
        <p>
            Sup guys im Harry W from 9HG from Rangi, the reason for this website is for my STEM project in school.
            The front end of this website is coded in html and css the backend is pyhton and i have used github 
            to strore my code and render.com to deploy my website. The reason of using render.com to host is due to
            github is only designed to host websites that are coded in js html and css, while my website uses 
            Flask and python which is a web application that needs a server side process to run. Any way
            enough yapping, I hope from this course i can improve my skills on technology, art and communication
            between me and my future project partners. I will be updating this page in the future with my new works.
        </p>

    </header>
</body>
</html>
