<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yr 9 STEAM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="main-header">
        <h1>Welcome to my web</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="stillDeveloping.html">Micro:bits</a></li>
                <li><a href="stillDeveloping.html">Assesment</a></li>
                <li><a href="stillDeveloping.html">Technical Drawing</a></li>
                <li><a href="stillDeveloping.html">Project</a></li>
                <li><a href="stillDeveloping.html">Reference</a></li>
            </ul>
        </nav>
    </header>
    <header class="main-info">
        <h2>Orgami</h2>
        <p>
            The Iso-Area Flasher was designed by Chris Palmer and Jeremy Shafer. It is an origami model 
            that folds flat and expands into a starburst shape with one motion. The name comes from the 
            fact that the paper’s surface area stays the same during the transformation. This makes it 
            a fascinating example of geometry in action. This fold shows how origami can inspire real 
            world engineering solutions where compact storage and quick setup are important. This 
            applies to areas like space technology and portable objects. Here is a link to the video:
            <iframe 
            width="560"
            height="310"
            title="My origami"
            src="https://youtu.be/iYsycFLQLXg?si=E-ZBDFdl6vYrmZt6"
            frameborder="0">
        
            </iframe>
        </p>

    </header>
</body>
</html>
